<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/misc.css" media="screen"> 

    <link rel="stylesheet" href="/stylesheets/dark.min.css">
	<script src="/js/highlight.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>CodingPajamas | {{ page.title }}</title>
  </head>

  <body> 

        <header id="mainHeader" class="container-fliud">
          <div class="row">
            <div class="col-xs-12">
              <div class="pad10">
                <a id="mainLogo" href="/" class="text-danger mt5">
                  <!-- <img src="images/logo.jpg"> -->
                  [CODINGPAJAMAS]
                </a>
              </div>
            </div> 
          </div>
        </header>
        <div class="container" id="mainContent">
          <div class="row"> 
          	<div class="col-sm-12 col-md-10 col-md-push-1" id="postContent">
      				<article class="post-entry-wrap">
      					<div class="post-page clearfix">
      						<div class="post-header">
      							<img src="{{ page.image }}" alt="">
      						</div>
      						<div class="post-meta pad40">
      							<div class="row">
      								<div class="col-xs-12">
      									<h1 class="page-title">{{ page.title }}</h1>
      								</div>
      							</div>
      							<div class="row">
      								<div class="col-xs-6">
      									<span class="post-meta-date font12">February 25th, 2015</span>
      								</div>
      								<div class="col-xs-6 text-right">
      									<div class="post-meta-category">
      										<a href="#" class="label label-danger">{{ page.tag }}</a>
      									</div>
      								</div>
      							</div> 
      						</div> 
      						<div class="post-content padLR40 mb20">
      							 {{ content | markdownify }} 
      						</div>
      					</div>
      				</article>
      			</div>  
          </div>
        </div>
 		
 		<script>hljs.initHighlightingOnLoad();</script>

        <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
          try {
            var pageTracker = _gat._getTracker("UA-60357604-1");
          pageTracker._trackPageview();
          } catch(err) {}
        </script>
 
  </body>
</html>
