<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/misc.css"> 

    <link rel="stylesheet" href="/stylesheets/hybrid.css">
    <script src="/js/highlight.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>CodingPajamas | {{ page.title }}</title>
  </head>

  <body> 

        <header id="mainHeader" class="container-fliud">
          <div class="row">
            <div class="col-xs-5 col-sm-8">
              <div class="pad10">
                <a id="mainLogo" class="shadow" href="/"> 
                  <img src="/images/logo.png"><span id="siteTitle">:codingpajamas</span> 
                </a>
              </div>
            </div> 
            <div class="col-xs-7 col-sm-4">
              <div class="padLR30 text-right mt10">
                <a href="https://github.com/codingpajamas/" class="btn btn-primary" target="new">
                  <i class="fa fa-github"></i>
                </a>
                <a href="https://twitter.com/angMalakas" class="btn btn-primary" target="new">
                  <i class="fa fa-twitter "></i>
                </a>
              </div>
            </div> 
          </div>
        </header>
        <div class="container" id="mainContent">
          <div class="row"> 
            <div class="col-sm-12 col-md-10 col-md-push-1" id="postContent">
              <article class="post-entry-wrap">
                <div class="post-page clearfix">
                  <div class="post-header">
                    <img src="{{ page.image }}" alt="">
                  </div>
                  <div class="post-meta pad40">
                    <div class="row">
                      <div class="col-xs-12">
                        <h1 class="page-title">{{ page.title }}</h1>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">
                        <span class="post-meta-date font12">
                          <i class="fa fa-calendar mr5"></i>
                          {{ page.date | date_to_string }}
                        </span>
                      </div>
                      <div class="col-xs-6 text-right">
                        <div class="post-meta-category">
                          {% for tag in page.tags %}
                            <a href="#" class="label label-danger ml5">
                              <i class="fa fa-tag mr5"></i>
                              {{ tag }}
                            </a>
                          {% endfor %}
                        </div>
                      </div>
                    </div> 
                  </div> 
                  <div class="post-content padLR40 mb20">
                     {{ content | markdownify }} 
                  </div>
                </div>
              </article>
              <div class="row font-gray mb20">
                <div class="col-sm-6">
                  © <a href="/">CodingPajamas</a> 2015
                </div>
                <div class="col-sm-6 text-right">
                  Powered By <a href="https://pages.github.com/">GitHub Pages</a>
                </div>
              </div>
            </div>  
          </div>
        </div>
    
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-60357604-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

    <script type="text/javascript">
      if(window.location.origin.match('localhost')) {
        document.getElementById("siteTitle").className = 'hide'
      }
    </script>
 
  </body>
</html>
